.apropos_contenant {
    max-width: auto;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.contenant_dropdown {
    position: absolute;
    width: 1023px;
    top: 384px;
}

.image_banner {
    position: absolute;
    width: 1240px;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    border-radius: 25px;
}

