.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    background: #F7F7F7;
    border-radius: 25px;
    padding-top: 56px;
    padding-right: 35px;
}

.card a {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration-line: none;
}

.card a h2 {
    height: 52px;
    width: 300px;
    left: 20px;
    top: 260px;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    margin-right: 25px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}


.Photo {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
    filter: invert(15%);
}

/*Media queries mobile*/
@media screen and (max-width: 540px) {
    .card {
        background: white;
        padding-right: 0px;
        padding-top: 0px;
    }

    .card a {
        height: 255px;
        width : 335px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card a h2 {
        width : 296px;
        left: 5.88%;
        right: 5.88%;
        top: 73.73%;
        bottom: 5.88%;
    }

    .Photo {
        height: 255px;
        width : 335px;
    }
}
/*Media queries tablette*/
@media screen and (min-width : 541px) and (max-width: 1080px) {
    .card {
        background: white;
        padding-right: 0px;
        padding-top: 0px;
    }
}