.carrousel {
    width: 100%;
    margin: auto;
}

.carrousel img {
    width: 100%;
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
}

.arrow {
    position: absolute;
}

.arrow_left {
    left: 8%;
}

.arrow_right {
    right: 8%;
}

.no_arrow {
    content-visibility: hidden;
}

.page_count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    right: 50%;
    top : 425px;
    position: absolute;
}

.no_page_count {
    display: none;
}

/*Media queries mobile*/
@media screen and (max-width: 540px) {
    .carrousel img {
        height : 255px;
    }

    .arrow img {
        height : 20px;
        width : 11px;
    }

    .page_count {
        display: none;
    }
}
/*Media queries tablette*/
@media screen and (max-width: 1060px) {
    .arrow img {
        height : 40px;
        width : 22px;
    }
}