.error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin-top: 63px;
}

.error_logo {
    width: 440px;
    height: 200px;
    display: flex;
    align-self: center;
    size : 288px;

}

.error h1 {
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    height: 51px;
}

.error a {
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
}
@media screen and (max-width: 540px) {
    .error {
        width: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .error_logo {
        width : 198px;
        height : 99px;
    }

    .error h1{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    }

    .error a {
        font-size : 14px;
        height : 20px;
    }

}
