.error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.error_logo {
    width: 440px;
    height: 200px;
    display: flex;
    align-self: center;
    size : 288px;

}

.error h1 {
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    height: 51px;
}

.error a {
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
}