* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 ;
  font-family: montserrat,'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  height : auto;
  position: relative;
  background: #FFFFFF;
}


.App{
  width: 100%;
}
@media screen and (max-width: 540px) {
  .App {
    width: auto;
  }
}