* {
  box-sizing: border-box;
}

body {
  margin: 0 auto !important;
  padding: 0 auto !important;
  font-family: montserrat,'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: auto;
  height : auto;
  position: relative;
  background: #FFFFFF;
}


.App{
  width: 100%;
}