.logement_contenant{
    width:100%;
}

.carrousel_container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 415px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.informations_principales{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.en_tete{
    width : auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.en_tete h1{
    font-family : 'Montserrat';
    font-style: normal;
    font-weight : 500;
    font-size : 36px;
    line-height : 51px;
    color: #FF6060;
    display: flex;
    align-items: center;
    margin : 0px;
}

.en_tete p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    margin-top: 0px;
    margin-bottom: 0px;
}

.host{
    display: flex;
    align-items: center;
}

.host_photo{
    width: 64px;
    height: 64px;
    background: #C4C4C4;
    border-radius: 50%;
}

.host_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FF6060;
    width: min-content;
    height: 52px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-items: center;
    margin-right: 10px;
}

.rate_host{
    display: flex;
    flex-direction: column;
}

.container_dropdown{
    display:flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.container_dropdown .dropdown {
    width: 45%;
}

.container_dropdown .dropdownopen{
    width: 45%;
}

.dropdown_liste {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

@media screen and (max-width: 540px) {
    .carrousel_container{
        margin : 20px;
        height: 255px;
    }

    .container_dropdown{
        flex-direction:column;
        align-items: center;
        margin-left : 0px;
        margin-right : 0px;
    }
    .en_tete h1{
    font-size : 18px;
    line-height : 26px;
    }

    .en_tete p {
        font-size: 14px;
        line-height: 20px;
    }

    .container_dropdown .dropdownopen {
        width: 90%;
    }

    .container_dropdown .dropdown {
        width: 90%;
    }
    .informations_principales{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .rate_host{
        flex-direction : row-reverse;
        justify-content: space-between;
    }

    .rate{
        display : flex;
        align-items: center;
    }

    .etoile{
        width: 15px;
        height: 15px;
    }

    .host_photo{
        width: 32px;
        height: 32px;
    }

    .host_name{
        font-size: 12px;
        line-height: 17px;
        align-items: center;
    }
}

@media screen and (max-width: 1060px) {
    .carrousel_container{
        margin : 30px;
    }

    .informations_principales{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .en_tete h1{
        font-size : 24px;
        line-height : 30px;
    }

    .etoile{
        width: 21px;
        height: 21px;
    }
    .container_dropdown{
        flex-direction:column;
        align-items: center;
        margin-left : 0px;
        margin-right : 0px;
    }
}